<apex:page standardController="Account">
<apex:form >
<apex:pageBlock >
<apex:pageBlockSection >
 <apex:pageBlockSectionItem helptext="{!$ObjectType.Account.Fields.Phone.InlineHelpText}">
      <apex:outputLabel value="{!$ObjectType.Account.Fields.Phone.Label}" />
      <apex:inputField value="{!Account.Phone}" />
</apex:pageBlockSectionItem>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>